<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error maiores non? Ex fugit dolor odit! Consequatur placeat ipsa cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error maiores non? Ex fugit dolor odit! Consequatur placeat ipsa cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis error maiores non? Ex fugit dolor odit! Consequatur placeat ipsa cumque.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>